.loader{
  display: var(--loaderDisplay);
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-width: 100%; max-width: 100%;
  min-height: 100%; max-height: 100%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 100000;
}
